@import url('https://fonts.googleapis.com/css?family=Mallanna');
/*.story-preview-title{
    font-family: 'mallanna';
}
.story-preview-excerpt{
    font-family: 'mallanna';
}
.post-title-font{
    font-family: 'mallanna';
}
.post-content-font{
    font-family: 'mallanna';
}
.factcheck-intro-font{
    font-family: 'mallanna';
}
.factcheck-summary-font{
    font-family: 'mallanna';
}
.popular-title-font{
    font-family: 'mallanna';
}
.hero-title-font{
    font-family: 'mallanna';
}
.hero-excerpt-font{
    font-family: 'mallanna';
}
.claim-desc-font{
    font-family: 'mallanna';
}*/