/* Quill JS related classes start here */
.ql-align-center{
  text-align: center;
}

/* Quill JS related classes end here */

.navbar-item img {
  max-height: 2.5rem;
}

a.navbar-item>.icon:not(:last-child) {
  margin-left: -.25em;
  margin-right: .25em;
}

/* CSS for sticky div on factcheck details page */
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 11%;
}
/***************************************************/


.page-enter-active{
  animation: bounce-in .8s;
}

.page-leave-active{
  animation: bounce-out .5s;
}

@keyframes bounce-in{
  0% { transform: scale(.9); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

@keyframes bounce-out{
  0% {transform: scale(1); opacity: 1;}
  100% { transform: scale(.9); opacity: 0;}
}

.false-background {
  background-color: #e9b6b9
}
.misleading-background {
  background-color: #c0fff0
}
.unverified-background {
  background-color: #ffe0b3
}
.partly-true-background {
  background-color: #e8fc97
}
.true-background {
  background-color: #a2fcc7
}