/* Quill JS related classes start here */
.ql-align-center{
  text-align: center;
}
.custom-parent-container-for-embedded-data {
  width: 100%;
  position: relative;
  padding: 0;
  padding-top: 56.25%;
}
.ql-custom-embedd {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
}
/* Quill JS related classes end here */

.navbar-item img {
  max-height: 2.5rem;
}
a.navbar-item>.icon:not(:last-child) {
  margin-left: -.25em;
  margin-right: .25em;
}

/* CSS for sticky div on factcheck details page */
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 11%;
}
/***************************************************/

/* Page enter and leave animation */
.page-enter-active{
  animation: bounce-in .8s;
}
.page-leave-active{
  animation: bounce-out .5s;
}
@keyframes bounce-in{
  0% { transform: scale(.9); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

@keyframes bounce-out{
  0% {transform: scale(1); opacity: 1;}
  100% { transform: scale(.9); opacity: 0;}
}
/***************************************************/

/* Claim rating color */
.false-background {
  background-color: #e9b6b9;
}
.misleading-background {
  background-color: #c0fff0;
}
.unverified-background {
  background-color: #ffe0b3;
}
.partly-true-background {
  background-color: #e8fc97;
}
.true-background {
  background-color: #a2fcc7;
}
/***************************************************/

.facebook-background {
  background-color: #3b5998;
}
.twitter-background {
  background-color: #38A1F3;
}
.whatsapp-background {
  background-color: #25D366;
}

/*Color related css*/
.facebook-color {
  color: #3b5998;
}
.twitter-color {
  color: #38A1F3
}
.youtube-color {
  color: #c4302b 
}
.github-color {
  color: #767676
}
.tumbler-color {
  color: #34526f 
}
.pinterest-color {
  color: #c8232c 
}
.linkedin-color {
  color: #0077B5
}
.whatsapp-color {
  color: #25D366
}
.instagram-color {
  color: #C13584 
}
.white-color {
  color: #ffffff
}
/***************************************************/

/* General padding and margin */
.padding-none {
  padding: 0rem;
}
.padding-half {
  padding: 0.5rem;
}
.margin-top-half {
  margin-top: 0.5rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-top-6 {
  margin-top: 6rem;
}
.margin-horizontal-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/***************************************************/

.box-shadow-none {
  box-shadow: 0rem 0rem;
  border-radius: 0rem;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
#loading-div {
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  position:fixed;
}
.tw-align-center {
  margin: auto;
  width: 500px;
  min-width: 220px;
}

/*Font related css*/
.story-preview-title{
  font-family: 'Muli';
}
.story-preview-excerpt{
  font-family: 'Muli';
}
.post-title-font{
  font-family: 'Muli';
}
.post-content-font{
  font-family: 'Muli';
}
.factcheck-intro-font{
  font-family: 'Muli';
}
.factcheck-summary-font{
  font-family: 'Muli';
}
.popular-title-font{
  font-family: 'Muli';
}
.hero-title-font{
  font-family: 'Muli';
}
.hero-excerpt-font{
  font-family: 'Muli';
}
.claim-desc-font{
  font-family: 'Muli';
}
.meta-data-font{
  font-family: 'Muli';
}
/***************************************************/